.landingPageContainer {
  width: 100vw;
  height: 100vh;
  background: url("../public/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: azure;
}

.landingPageContainer nav {
  padding-inline: 1.5rem;
  padding-block: 1.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.landingPageContainer nav h1 {
  font-size: 1.8rem;
  font-weight: 600;
}

.landingPageContainer nav .navlist {
  display: flex;
  gap: 1.5rem;
}

.landingMainConatiner {
  display: flex;
  justify-content: space-between;
  padding-inline: 3.2rem;
  height: 80vh;
  align-items: center;
}

.landingMainConatiner > div:nth-child(1) {
  font-size: 1.7rem;
}

.gettingStartedbutton {
  background-color: #d97500;
  width: fit-content;
  padding: 1.2rem;
  border-radius: 25px;
  margin-top: 2rem;
}

.gettingStartedbuttontext {
  text-decoration: none;
  color: white;
  font-size: 1.7rem;
  font-weight: 600;
}

.landingMainConatiner > div:nth-child(2) img {
  height: 75vh;
  width: auto;
}

.navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 20px;
  text-align: center;
}
.meetContainer {
  display: flex;
  padding-inline: 20px;
  height: 80vh;
  gap: 10vw;
  justify-content: center;
}

.mainContent {
  display: flex;
  align-items: center;
  justify-content: center;
}

.leftPanel {
  display: flex;
  align-items: center;
  justify-content: center;
}

.rightPanel {
  height: 100%;
  display: flex;
  align-items: center;
}

.leftPanel > img {
  width: 30vw;
  height: auto;
  border-radius: 20px;
}

.loginFormIntro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(25, 118, 210);
}

.loginFormIntro h2 {
  font-size: 2.5rem;
}

.homePageConatiner {
  background: url("../public/background.png");
  /* background-repeat: no-repeat; */
  background-size: cover;
  color: azure;
  height: 100vh;
}
